body {
    background: linear-gradient(to right, #0062E6, #33AEFF);
    font-family: 'Arial', sans-serif;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
}

.card-title {
    font-weight: bold;
    color: #0062E6;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.form-control:focus {
    box-shadow: none;
    border-color: #0062E6;
}

.btn-primary {
    background-color: #0062E6;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}
